.banner{
    background-color:purple;
    width:100%;
    height:100%;
    margin-bottom:150px;
}
.banner-text{
    color:white;
    left:45%;
    position:absolute;
    transform:transform;
}

h4{
   color:maroon;
   text-align:center;
}